<%= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => {:method => :post, :class => 'form-horizontal'} do |f| %>
  <%= devise_error_messages! %>
  <legend>New user</legend>

  <div class="form-group">

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="row">
        <div class="col-sm-4">
          <%= f.label field, class: 'col-sm-4 control-label' %>
          <div class="col-sm-8">
            <%= f.text_field field, class: 'form-control' %>
          </div>
        </div>
      </div>
    <% end -%>

    <div class="row">
      <div class="col-sm-4">
        <%= f.label :role, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= select_tag(:role,\
                         options_for_select([["Administrator", "admin"], ["Organization user", "other"]]),\
                         id: 'role-input', class: 'form-control') %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <%= f.label :organization, class: 'col-sm-4 control-label' %>
        <div class="col-sm-8">
          <%= collection_select(:user, :organization_id,\
                                Organization.all, :id, :name,\
                                { include_blank: true },\
                                id: 'organization-input', class: 'form-control') %>
        </div>
      </div>
    </div>

  </div>

  <button type="submit" class="btn btn-primary">Send invitation</button>
<% end %>