<% if current_user.admin? && @pending_offices_count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <%=
          link_to \
          "View #{@pending_offices_count} pending #{'office'.pluralize(@pending_offices_count)}",\
          offices_path(pending: true),\
          class: 'btn btn-primary pull-right'
      %>
    </div>
  </div>
<% end %>
<br>
<% if @offices.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover act-table">
          <caption>The following offices are already approved and can upload cases.</caption>
          <thead>
            <th>Organization</th>
            <th>Supervisor name</th>
            <th>Supervisor phone number</th>
            <th>Location</th>
          </thead>
          <tbody>
          <% for @office in @offices %>
          <tr>

            <td><%= @office.organization.name %></td>
            <td><%= @office.supervisor_name %></td>
            <td><%= @office.supervisor_phone_number %></td>
            <td><%= @office.location.name %></td>

          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>

  <div class="well text-center">
    <h5>There are no confirmed offices to display.</h5>
  </div>

<% end %>
