<% if current_user.admin? && @pending_devices_count > 0 %>
  <div class="row">
    <div class="col-md-12">
      <%=
          link_to \
          "View #{@pending_devices_count} pending #{'device'.pluralize(@pending_devices_count)}",\
          devices_path(pending: true),\
          class: 'btn btn-primary pull-right'
      %>
    </div>
  </div>
<% end %>
<br>
<% if @devices.any? %>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-hover act-table">
          <caption>The following devices are already approved and can upload cases.</caption>
          <thead>
            <th>Organization</th>
            <th>Supervisor name</th>
            <th>Supervisor phone number</th>
            <th>Location</th>
          </thead>
          <tbody>
          <% for @device in @devices %>
          <tr>

            <td><%= @device.organization.name %></td>
            <td><%= @device.supervisor_name %></td>
            <td><%= @device.supervisor_phone_number %></td>
            <td><%= @device.location.name %></td>

          </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
<% else %>

  <div class="well text-center">
    <h5>There are no confirmed devices to display.</h5>
  </div>

<% end %>
