<nav class="navbar navbar-default" role="navigation">
  <div class="row-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-ex1-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= image_tag "act_logo.png" %>

    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <%= navigation_item 'Dashboard', :dashboard, dashboard_path %>
        <%= navigation_item 'Cases', :cases, cases_path %>
        <%= navigation_item 'Offices', :offices, offices_path %>
        <%= navigation_item 'Organizations', :organizations, organizations_path, if: (current_user.can? :read, Organization) %>
        <%= navigation_item 'Users',   :users,    users_path,                       if: (current_user.can? :read, User) %>
        <%= navigation_item 'API Keys',:api_keys, api_keys_path,                    if: (current_user.can? :read, ApiKey) %>
      </ul>
      <ul class="nav navbar-nav navbar-right user">
        <span class="app_version"><%= Rails.application.config.act_version %></span>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" title=<%= current_user.email %>><%= current_user.email %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Change password", edit_user_registration_path, :rel => "nofollow" %></li>
            <li><%= link_to "Sign Out", destroy_user_session_path, :rel => "nofollow", :method => :delete %></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
